#Select btech

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('REVISED MASTER TIMETABLE 23-01-23.xlsx')
df = df.loc[int(df[df['#S'] == 'Second Year'].index.values)+1 : int(df[df['#S']=='Second Year -Bsc (DA)'].index.values)-1]
df.head()

,#S,Code,Title,L T P C/\nL P U,Course,Room,Sections,Day,Session,Test1,Test2,Compre,Common Hour,Instructor Name
89,1,EC102,Fundamentals of Signal Processing,2 1 0 3,"II-B.Tech.,ALL",G-013,Section-A,"M,TU,F","1,5,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer
90,NaN,NaN,NaN,NaN,NaN,G-014,Section-B,"M,TU,W","1,5,2",27-02-2023(F),10-04-2023(F),24-05-2023(A),NaN,Dr. Soloman
91,NaN,NaN,NaN,NaN,NaN,G-016,Section-C,"M,TU,TH","5,2,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),NaN,Dr. H. Sudheer
92,NaN,NaN,NaN,NaN,NaN,R-202,Section-D,"TU,W,F","2,3,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),NaN,Dr. Soloman
93,2,CS 204,Computer organization and Architecture,3 0 0 3,"II- B.Tech.,CSE,DS AI,ECE",G-013,Section-A,"M,TU,TH","4,2,2",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali

In [ ]:
df.to_csv('btech.csv')

#Clean btech

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('btech.csv')
df.head()

,Unnamed: 0,#S,Code,Title,L T P C/\nL P U,Course,Room,Sections,Day,Session,Test1,Test2,Compre,Common Hour,Instructor Name
0,89,1,EC102,Fundamentals of Signal Processing,2 1 0 3,"II-B.Tech.,ALL",G-013,Section-A,"M,TU,F","1,5,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer
1,90,NaN,NaN,NaN,NaN,NaN,G-014,Section-B,"M,TU,W","1,5,2",27-02-2023(F),10-04-2023(F),24-05-2023(A),NaN,Dr. Soloman
2,91,NaN,NaN,NaN,NaN,NaN,G-016,Section-C,"M,TU,TH","5,2,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),NaN,Dr. H. Sudheer
3,92,NaN,NaN,NaN,NaN,NaN,R-202,Section-D,"TU,W,F","2,3,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),NaN,Dr. Soloman
4,93,2,CS 204,Computer organization and Architecture,3 0 0 3,"II- B.Tech.,CSE,DS AI,ECE",G-013,Section-A,"M,TU,TH","4,2,2",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali

In [ ]:
df = df.drop(['Unnamed: 0', '#S', 'L T P C/\nL P U'], axis=1)
df = df.drop(21, axis=0)
df.reset_index(inplace=True, drop=True)
df.tail()

,Code,Title,Course,Room,Sections,Day,Session,Test1,Test2,Compre,Common Hour,Instructor Name
42,MT203,Kinematics &Dynamics of Machinery,"II-B.Tech.,MECH",R-205,1,"M,TH,F","4,2,2",02-03-2023(A),13-04-2023(A),09-06-2023(A),Thursday(6),Dr. B. Madhavi
43,NaN,Personality Devlopment(PD),"II- B.Tech.,CSE,DS AI",G-013,Section-A,TH,4,NaN,NaN,NaN,NaN,Dr. R. Balamurali
44,NaN,Personality Devlopment(PD),NaN,G-014,Section-B,M,6,NaN,NaN,NaN,NaN,Dr. R. Balamurali
45,NaN,Personality Devlopment(PD),NaN,G-016,Section-C,TU,5,NaN,NaN,NaN,NaN,Dr. R. Balamurali
46,NaN,Personality Devlopment(PD),NaN,R-202,Section-D,W,6,NaN,NaN,NaN,NaN,Dr. R. Balamurali

In [ ]:
for i in range(len(df) - 1):
    if df['Instructor Name'].iloc[i] == df['Instructor Name'].iloc[i+1]:
        if df['Title'].iloc[i+1] == 'LAB' or df['Code'].iloc[i+1] == 'LAB':
            print(i,"and",i+1)
            
            for col in df.columns[:6]:
                if pd.isna(df[col].iloc[i+1]):        
                    df[col].iloc[i+1] = df[col].iloc[i]
            df['Title'].iloc[i+1] = '[LAB] '+df['Title'].iloc[i]

34 and 35
38 and 39
40 and 41

In [ ]:
df.columns[:6]

Index(['Code', 'Title', 'Course', 'Room', 'Sections', 'Day'], dtype='object')

In [ ]:
df.iloc[34:]

,Code,Title,Course,Room,Sections,Day,Session,Test1,Test2,Compre,Common Hour,Instructor Name
34,EC206,Hardware modelling using Verilog,"II-B.Tech.,ECE",R-221,1,"W,TH,F","6,1,2",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. P AKHENDRA KUMAR
35,EC206,[LAB] Hardware modelling using Verilog,"II-B.Tech.,ECE",R-116,1,TU,6.7,NaN,NaN,NaN,NaN,Dr. P AKHENDRA KUMAR
36,MT205,Thermal Engineering,"II-B.Tech.,MECH",R-205,1,"TU,TH,F","2,1,3",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Pavan Kishore
37,MT209,Soft Computing Techniques,"II-B.Tech.,MECH",R-205,1,"M,TU,F","5,1,4",28-02-2023(A),11-04-2023(A),31-05-2023(A),Friday(7),Dr. K. Kaushik
38,MT206,Manufacturing Processes and Metrology,"II-B.Tech.,MECH",R-205,1,"M,TU,TH","3,4,4",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(6),Syed Quadir Moinuddin
39,LAB,[LAB] Manufacturing Processes and Metrology,"II-B.Tech.,MECH",opp FST,1,M,6.7,NaN,NaN,NaN,NaN,Syed Quadir Moinuddin
40,MT204,Strength of Materials,"II-B.Tech.,MECH",R-205,1,"W,TH,F","4,3,1",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Priyanka Chattoraj
41,LAB,[LAB] Strength of Materials,"II-B.Tech.,MECH",opp FST,1,W,5.6,NaN,NaN,NaN,NaN,Priyanka Chattoraj
42,MT203,Kinematics &Dynamics of Machinery,"II-B.Tech.,MECH",R-205,1,"M,TH,F","4,2,2",02-03-2023(A),13-04-2023(A),09-06-2023(A),Thursday(6),Dr. B. Madhavi
43,NaN,Personality Devlopment(PD),"II- B.Tech.,CSE,DS AI",G-013,Section-A,TH,4,NaN,NaN,NaN,NaN,Dr. R. Balamurali
44,NaN,Personality Devlopment(PD),NaN,G-014,Section-B,M,6,NaN,NaN,NaN,NaN,Dr. R. Balamurali
45,NaN,Personality Devlopment(PD),NaN,G-016,Section-C,TU,5,NaN,NaN,NaN,NaN,Dr. R. Balamurali
46,NaN,Personality Devlopment(PD),NaN,R-202,Section-D,W,6,NaN,NaN,NaN,NaN,Dr. R. Balamurali

In [ ]:
df = df.drop(['Code','Course'], axis=1)

In [ ]:
df.loc[20, 'Title'] = df.loc[21, 'Title']
df['Session'] = df['Session'].str.replace(".", ",")
df.loc[20:21]

<ipython-input-129-f9cf4e24cd7c>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Session'] = df['Session'].str.replace(".", ",")

,Title,Room,Sections,Day,Session,Test1,Test2,Compre,Common Hour,Instructor Name
20,Dynamics Of Social Change,G-013,Section-A,"M,TU,W","3,1,2",02-03-2023(F),13-04-2023(F),07-06-2023(A),NaN,Mrs. Syamala
21,Dynamics Of Social Change,G-014,Section-B,"M,TU,W","2,3,1",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala

In [ ]:
ind = df.loc[df['Title'].str.contains('Power Skill - II') == True].index[0]
sub_df = df.iloc[:ind]

sub_df['Title']=sub_df['Title'].fillna(method='ffill')

sub_df[ 'Title']

<ipython-input-130-dd89926dcb52>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Title']=sub_df['Title'].fillna(method='ffill')

0          Fundamentals of Signal Processing
1          Fundamentals of Signal Processing
2          Fundamentals of Signal Processing
3          Fundamentals of Signal Processing
4     Computer organization and Architecture
5     Computer organization and Architecture
6     Computer organization and Architecture
7     Computer organization and Architecture
8                 Professional Communication
9                 Professional Communication
10                Professional Communication
11                Professional Communication
12                  Web Enabled Technologies
13                  Web Enabled Technologies
14                  Web Enabled Technologies
15                  Web Enabled Technologies
16               Database Management Systems
17               Database Management Systems
18               Database Management Systems
19               Database Management Systems
20                 Dynamics Of Social Change
21                 Dynamics Of Social Change
22                 Dynamics Of Social Change
23                 Dynamics Of Social Change
24                              Data Science
25                              Data Science
26                              Data Science
27                              Data Science
Name: Title, dtype: object

In [ ]:
sub_df['new_sub']=(sub_df['Title'].ne(sub_df['Title'].shift().bfill())).astype(int)
sub_df.loc[0, 'new_sub'] = 1
sub_df.head()

<ipython-input-131-5076f5405f22>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['new_sub']=(sub_df['Title'].ne(sub_df['Title'].shift().bfill())).astype(int)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Title,Room,Sections,Day,Session,Test1,Test2,Compre,Common Hour,Instructor Name,new_sub
0,Fundamentals of Signal Processing,G-013,Section-A,"M,TU,F","1,5,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer,1
1,Fundamentals of Signal Processing,G-014,Section-B,"M,TU,W","1,5,2",27-02-2023(F),10-04-2023(F),24-05-2023(A),NaN,Dr. Soloman,0
2,Fundamentals of Signal Processing,G-016,Section-C,"M,TU,TH","5,2,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),NaN,Dr. H. Sudheer,0
3,Fundamentals of Signal Processing,R-202,Section-D,"TU,W,F","2,3,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),NaN,Dr. Soloman,0
4,Computer organization and Architecture,G-013,Section-A,"M,TU,TH","4,2,2",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali,1

In [ ]:
z = sub_df[sub_df['new_sub']==1].index.values

sub_df['Common'] = float('nan')
for i in range(len(z)):
    c = sub_df.loc[z[i] : z[i]+3, 'Common Hour'].dropna().iloc[0]
    sub_df['Common'].loc[z[i]] = c

<ipython-input-132-1777dbdf8026>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Common'] = float('nan')
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj._check_is_chained_assignment_possible()

In [ ]:
sub_df[['Title','Common Hour', 'Common', 'new_sub']]

,Title,Common Hour,Common,new_sub
0,Fundamentals of Signal Processing,Thursday(5),Thursday(5),1
1,Fundamentals of Signal Processing,NaN,NaN,0
2,Fundamentals of Signal Processing,NaN,NaN,0
3,Fundamentals of Signal Processing,NaN,NaN,0
4,Computer organization and Architecture,Friday(5),Friday(5),1
5,Computer organization and Architecture,NaN,NaN,0
6,Computer organization and Architecture,NaN,NaN,0
7,Computer organization and Architecture,NaN,NaN,0
8,Professional Communication,NaN,Thursday(6),1
9,Professional Communication,Thursday(6),NaN,0
10,Professional Communication,NaN,NaN,0
11,Professional Communication,NaN,NaN,0
12,Web Enabled Technologies,Thursday(7),Thursday(7),1
13,Web Enabled Technologies,NaN,NaN,0
14,Web Enabled Technologies,NaN,NaN,0
15,Web Enabled Technologies,NaN,NaN,0
16,Database Management Systems,NaN,Friday(7),1
17,Database Management Systems,Friday(7),NaN,0
18,Database Management Systems,NaN,NaN,0
19,Database Management Systems,NaN,NaN,0
20,Dynamics Of Social Change,NaN,Wednesday(7),1
21,Dynamics Of Social Change,Wednesday(7),NaN,0
22,Dynamics Of Social Change,NaN,NaN,0
23,Dynamics Of Social Change,NaN,NaN,0
24,Data Science,Friday(6),Friday(6),1
25,Data Science,NaN,NaN,0
26,Data Science,NaN,NaN,0
27,Data Science,NaN,NaN,0

In [ ]:
sub_df['Common'] = sub_df['Common'].fillna(method='ffill')
sub_df['Common Hour'] = sub_df['Common']
sub_df

<ipython-input-134-3c9074fe54c6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Common'] = sub_df['Common'].fillna(method='ffill')
<ipython-input-134-3c9074fe54c6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Common Hour'] = sub_df['Common']

,Title,Room,Sections,Day,Session,Test1,Test2,Compre,Common Hour,Instructor Name,new_sub,Common
0,Fundamentals of Signal Processing,G-013,Section-A,"M,TU,F","1,5,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer,1,Thursday(5)
1,Fundamentals of Signal Processing,G-014,Section-B,"M,TU,W","1,5,2",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. Soloman,0,Thursday(5)
2,Fundamentals of Signal Processing,G-016,Section-C,"M,TU,TH","5,2,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer,0,Thursday(5)
3,Fundamentals of Signal Processing,R-202,Section-D,"TU,W,F","2,3,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. Soloman,0,Thursday(5)
4,Computer organization and Architecture,G-013,Section-A,"M,TU,TH","4,2,2",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali,1,Friday(5)
5,Computer organization and Architecture,G-014,Section-B,"M,TU,TH","4,1,2",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. SK Panda,0,Friday(5)
6,Computer organization and Architecture,G-016,Section-C,"M,W,F","1,2,3",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali,0,Friday(5)
7,Computer organization and Architecture,R-202,Section-D,"TU,W,F","3,2,1",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. SK Panda,0,Friday(5)
8,Professional Communication,G-013,Section-A,"M,W,F","2,3,4",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama,1,Thursday(6)
9,Professional Communication,G-014,Section-B,"M,TU,F","6,2,4",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr. Bonala Kondal,0,Thursday(6)
10,Professional Communication,G-016,Section-C,"TU,TH,F","3,2,1",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama,0,Thursday(6)
11,Professional Communication,R-202,Section-D,"M,W,TH","1,4,4",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama,0,Thursday(6)
12,Web Enabled Technologies,G-013,Section-A,"TU,W,F","4,1,2",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Durga Prasad,1,Thursday(7)
13,Web Enabled Technologies,G-014,Section-B,"TU,W,F","4,3,2",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Mr. Madhu B,0,Thursday(7)
14,Web Enabled Technologies,G-016,Section-C,"M,TU,W","3,1,3",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Durga Prasad,0,Thursday(7)
15,Web Enabled Technologies,R-202,Section-D,"M,TU,TH","4,1,2",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Mr. Madhu B,0,Thursday(7)
16,Database Management Systems,G-013,Section-A,"M,TU,TH","5,3,1",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Kongara Srinivasa Rao,1,Friday(7)
17,Database Management Systems,G-014,Section-B,"M,W,TH","3,4,1",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Kongara Srinivasa Rao,0,Friday(7)
18,Database Management Systems,G-016,Section-C,"W,TH,F","1,4,2",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. K. S Rao,0,Friday(7)
19,Database Management Systems,R-202,Section-D,"TU,W,F","4,1,2",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Krishna Madhuri,0,Friday(7)
20,Dynamics Of Social Change,G-013,Section-A,"M,TU,W","3,1,2",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,1,Wednesday(7)
21,Dynamics Of Social Change,G-014,Section-B,"M,TU,W","2,3,1",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,0,Wednesday(7)
22,Dynamics Of Social Change,G-016,Section-C,"M,TU,W","4,4,4",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,0,Wednesday(7)
23,Dynamics Of Social Change,R-202,Section-D,"M,TU,W","5,5,5",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,0,Wednesday(7)
24,Data Science,G-013,Section-A,"W,TH,F","4,3,1",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. B.seetharamulu,1,Friday(6)
25,Data Science,G-014,Section-B,"M,TH,F","5,3,1",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. K. Adinarayana Reddy,0,Friday(6)
26,Data Science,G-016,Section-C,"M,TH,F","2,1,4",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Bseetharamulu,0,Friday(6)
27,Data Science,R-202,Section-D,"M,TH,F","3,1,4",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Sugnana Rao,0,Friday(6)

In [ ]:
sub_df

,Title,Room,Sections,Day,Session,Test1,Test2,Compre,Common Hour,Instructor Name,new_sub,Common
0,Fundamentals of Signal Processing,G-013,Section-A,"M,TU,F","1,5,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer,1,Thursday(5)
1,Fundamentals of Signal Processing,G-014,Section-B,"M,TU,W","1,5,2",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. Soloman,0,Thursday(5)
2,Fundamentals of Signal Processing,G-016,Section-C,"M,TU,TH","5,2,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer,0,Thursday(5)
3,Fundamentals of Signal Processing,R-202,Section-D,"TU,W,F","2,3,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. Soloman,0,Thursday(5)
4,Computer organization and Architecture,G-013,Section-A,"M,TU,TH","4,2,2",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali,1,Friday(5)
5,Computer organization and Architecture,G-014,Section-B,"M,TU,TH","4,1,2",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. SK Panda,0,Friday(5)
6,Computer organization and Architecture,G-016,Section-C,"M,W,F","1,2,3",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali,0,Friday(5)
7,Computer organization and Architecture,R-202,Section-D,"TU,W,F","3,2,1",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. SK Panda,0,Friday(5)
8,Professional Communication,G-013,Section-A,"M,W,F","2,3,4",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama,1,Thursday(6)
9,Professional Communication,G-014,Section-B,"M,TU,F","6,2,4",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr. Bonala Kondal,0,Thursday(6)
10,Professional Communication,G-016,Section-C,"TU,TH,F","3,2,1",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama,0,Thursday(6)
11,Professional Communication,R-202,Section-D,"M,W,TH","1,4,4",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama,0,Thursday(6)
12,Web Enabled Technologies,G-013,Section-A,"TU,W,F","4,1,2",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Durga Prasad,1,Thursday(7)
13,Web Enabled Technologies,G-014,Section-B,"TU,W,F","4,3,2",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Mr. Madhu B,0,Thursday(7)
14,Web Enabled Technologies,G-016,Section-C,"M,TU,W","3,1,3",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Durga Prasad,0,Thursday(7)
15,Web Enabled Technologies,R-202,Section-D,"M,TU,TH","4,1,2",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Mr. Madhu B,0,Thursday(7)
16,Database Management Systems,G-013,Section-A,"M,TU,TH","5,3,1",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Kongara Srinivasa Rao,1,Friday(7)
17,Database Management Systems,G-014,Section-B,"M,W,TH","3,4,1",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Kongara Srinivasa Rao,0,Friday(7)
18,Database Management Systems,G-016,Section-C,"W,TH,F","1,4,2",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. K. S Rao,0,Friday(7)
19,Database Management Systems,R-202,Section-D,"TU,W,F","4,1,2",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Krishna Madhuri,0,Friday(7)
20,Dynamics Of Social Change,G-013,Section-A,"M,TU,W","3,1,2",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,1,Wednesday(7)
21,Dynamics Of Social Change,G-014,Section-B,"M,TU,W","2,3,1",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,0,Wednesday(7)
22,Dynamics Of Social Change,G-016,Section-C,"M,TU,W","4,4,4",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,0,Wednesday(7)
23,Dynamics Of Social Change,R-202,Section-D,"M,TU,W","5,5,5",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,0,Wednesday(7)
24,Data Science,G-013,Section-A,"W,TH,F","4,3,1",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. B.seetharamulu,1,Friday(6)
25,Data Science,G-014,Section-B,"M,TH,F","5,3,1",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. K. Adinarayana Reddy,0,Friday(6)
26,Data Science,G-016,Section-C,"M,TH,F","2,1,4",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Bseetharamulu,0,Friday(6)
27,Data Science,R-202,Section-D,"M,TH,F","3,1,4",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Sugnana Rao,0,Friday(6)

In [ ]:
sub_df = sub_df.drop(['new_sub', 'Common'], axis=1)

In [ ]:
df.iloc[:ind] = sub_df

# Smarter cleaning

In [ ]:
df

,Title,Room,Sections,Day,Session,Test1,Test2,Compre,Common Hour,Instructor Name
0,Fundamentals of Signal Processing,G-013,Section-A,"M,TU,F","1,5,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer
1,Fundamentals of Signal Processing,G-014,Section-B,"M,TU,W","1,5,2",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. Soloman
2,Fundamentals of Signal Processing,G-016,Section-C,"M,TU,TH","5,2,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer
3,Fundamentals of Signal Processing,R-202,Section-D,"TU,W,F","2,3,3",27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. Soloman
4,Computer organization and Architecture,G-013,Section-A,"M,TU,TH","4,2,2",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali
5,Computer organization and Architecture,G-014,Section-B,"M,TU,TH","4,1,2",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. SK Panda
6,Computer organization and Architecture,G-016,Section-C,"M,W,F","1,2,3",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali
7,Computer organization and Architecture,R-202,Section-D,"TU,W,F","3,2,1",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. SK Panda
8,Professional Communication,G-013,Section-A,"M,W,F","2,3,4",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama
9,Professional Communication,G-014,Section-B,"M,TU,F","6,2,4",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr. Bonala Kondal
10,Professional Communication,G-016,Section-C,"TU,TH,F","3,2,1",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama
11,Professional Communication,R-202,Section-D,"M,W,TH","1,4,4",28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama
12,Web Enabled Technologies,G-013,Section-A,"TU,W,F","4,1,2",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Durga Prasad
13,Web Enabled Technologies,G-014,Section-B,"TU,W,F","4,3,2",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Mr. Madhu B
14,Web Enabled Technologies,G-016,Section-C,"M,TU,W","3,1,3",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Durga Prasad
15,Web Enabled Technologies,R-202,Section-D,"M,TU,TH","4,1,2",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Mr. Madhu B
16,Database Management Systems,G-013,Section-A,"M,TU,TH","5,3,1",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Kongara Srinivasa Rao
17,Database Management Systems,G-014,Section-B,"M,W,TH","3,4,1",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Kongara Srinivasa Rao
18,Database Management Systems,G-016,Section-C,"W,TH,F","1,4,2",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. K. S Rao
19,Database Management Systems,R-202,Section-D,"TU,W,F","4,1,2",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Krishna Madhuri
20,Dynamics Of Social Change,G-013,Section-A,"M,TU,W","3,1,2",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala
21,Dynamics Of Social Change,G-014,Section-B,"M,TU,W","2,3,1",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala
22,Dynamics Of Social Change,G-016,Section-C,"M,TU,W","4,4,4",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala
23,Dynamics Of Social Change,R-202,Section-D,"M,TU,W","5,5,5",02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala
24,Data Science,G-013,Section-A,"W,TH,F","4,3,1",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. B.seetharamulu
25,Data Science,G-014,Section-B,"M,TH,F","5,3,1",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. K. Adinarayana Reddy
26,Data Science,G-016,Section-C,"M,TH,F","2,1,4",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Bseetharamulu
27,Data Science,R-202,Section-D,"M,TH,F","3,1,4",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Sugnana Rao
28,Power Skill - II,R-205,Section-A,TU,"6,7",NaN,NaN,NaN,NaN,Dr. G. S. Bramha
29,Power Skill - II,R-205,Section-B,TU,"6,7",NaN,NaN,NaN,NaN,Dr. G. S. Bramha
30,Power Skill - II,R-202,Section-C,M,"6,7",NaN,NaN,NaN,NaN,Dr. G. S. Bramha
31,Power Skill - II,R-202,Section-D,M,"6,7",NaN,NaN,NaN,NaN,Dr. G. S. Bramha
32,Electronic Devices,R-221,1,"M,TU,W","3,4,1",27-02-2023(A),10-04-2023(A),26-05-2023(A),Thursday(7),Dr. Sainath
33,Electromagnetic Fields & Waves,R-221,1,"TU,TH,F","1,3,4",02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Elizabeth Zacharias
34,Hardware modelling using Verilog,R-221,1,"W,TH,F","6,1,2",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. P AKHENDRA KUMAR
35,[LAB] Hardware modelling using Verilog,R-116,1,TU,"6,7",NaN,NaN,NaN,NaN,Dr. P AKHENDRA KUMAR
36,Thermal Engineering,R-205,1,"TU,TH,F","2,1,3",01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Pavan Kishore
37,Soft Computing Techniques,R-205,1,"M,TU,F","5,1,4",28-02-2023(A),11-04-2023(A),31-05-2023(A),Friday(7),Dr. K. Kaushik
38,Manufacturing Processes and Metrology,R-205,1,"M,TU,TH","3,4,4",01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(6),Syed Quadir Moinuddin
39,[LAB] Manufacturing Processes and Metrology,opp FST,1,M,"6,7",NaN,NaN,NaN,NaN,Syed Quadir Moinuddin
40,Strength of Materials,R-205,1,"W,TH,F","4,3,1",27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Priyanka Chattoraj
41,[LAB] Strength of Materials,opp FST,1,W,"5,6",NaN,NaN,NaN,NaN,Priyanka Chattoraj
42,Kinematics &Dynamics of Machinery,R-205,1,"M,TH,F","4,2,2",02-03-2023(A),13-04-2023(A),09-06-2023(A),Thursday(6),Dr. B. Madhavi
43,Personality Devlopment(PD),G-013,Section-A,TH,4,NaN,NaN,NaN,NaN,Dr. R. Balamurali
44,Personality Devlopment(PD),G-014,Section-B,M,6,NaN,NaN,NaN,NaN,Dr. R. Balamurali
45,Personality Devlopment(PD),G-016,Section-C,TU,5,NaN,NaN,NaN,NaN,Dr. R. Balamurali
46,Personality Devlopment(PD),R-202,Section-D,W,6,NaN,NaN,NaN,NaN,Dr. R. Balamurali

In [ ]:
df['Day1'] = df['Day'].str.split(',')
df['Session1'] = df['Session'].str.split(',')

In [ ]:
df = df.drop(['Day', 'Session'], axis=1)

In [ ]:
df['Session1'] = df['Session1'].apply(lambda x: [int(item) for item in x])
df

,Title,Room,Sections,Test1,Test2,Compre,Common Hour,Instructor Name,Day1,Session1
0,Fundamentals of Signal Processing,G-013,Section-A,27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer,"[M, TU, F]","[1, 5, 3]"
1,Fundamentals of Signal Processing,G-014,Section-B,27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. Soloman,"[M, TU, W]","[1, 5, 2]"
2,Fundamentals of Signal Processing,G-016,Section-C,27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. H. Sudheer,"[M, TU, TH]","[5, 2, 3]"
3,Fundamentals of Signal Processing,R-202,Section-D,27-02-2023(F),10-04-2023(F),24-05-2023(A),Thursday(5),Dr. Soloman,"[TU, W, F]","[2, 3, 3]"
4,Computer organization and Architecture,G-013,Section-A,27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali,"[M, TU, TH]","[4, 2, 2]"
5,Computer organization and Architecture,G-014,Section-B,27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. SK Panda,"[M, TU, TH]","[4, 1, 2]"
6,Computer organization and Architecture,G-016,Section-C,27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. R. Balamurali,"[M, W, F]","[1, 2, 3]"
7,Computer organization and Architecture,R-202,Section-D,27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Dr. SK Panda,"[TU, W, F]","[3, 2, 1]"
8,Professional Communication,G-013,Section-A,28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama,"[M, W, F]","[2, 3, 4]"
9,Professional Communication,G-014,Section-B,28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr. Bonala Kondal,"[M, TU, F]","[6, 2, 4]"
10,Professional Communication,G-016,Section-C,28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama,"[TU, TH, F]","[3, 2, 1]"
11,Professional Communication,R-202,Section-D,28-02-2023(F),11-04-2023(F),29-05-2023(A),Thursday(6),Dr V Madhupama,"[M, W, TH]","[1, 4, 4]"
12,Web Enabled Technologies,G-013,Section-A,01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Durga Prasad,"[TU, W, F]","[4, 1, 2]"
13,Web Enabled Technologies,G-014,Section-B,01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Mr. Madhu B,"[TU, W, F]","[4, 3, 2]"
14,Web Enabled Technologies,G-016,Section-C,01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Durga Prasad,"[M, TU, W]","[3, 1, 3]"
15,Web Enabled Technologies,R-202,Section-D,01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Mr. Madhu B,"[M, TU, TH]","[4, 1, 2]"
16,Database Management Systems,G-013,Section-A,01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Kongara Srinivasa Rao,"[M, TU, TH]","[5, 3, 1]"
17,Database Management Systems,G-014,Section-B,01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Kongara Srinivasa Rao,"[M, W, TH]","[3, 4, 1]"
18,Database Management Systems,G-016,Section-C,01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. K. S Rao,"[W, TH, F]","[1, 4, 2]"
19,Database Management Systems,R-202,Section-D,01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. Krishna Madhuri,"[TU, W, F]","[4, 1, 2]"
20,Dynamics Of Social Change,G-013,Section-A,02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,"[M, TU, W]","[3, 1, 2]"
21,Dynamics Of Social Change,G-014,Section-B,02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,"[M, TU, W]","[2, 3, 1]"
22,Dynamics Of Social Change,G-016,Section-C,02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,"[M, TU, W]","[4, 4, 4]"
23,Dynamics Of Social Change,R-202,Section-D,02-03-2023(F),13-04-2023(F),07-06-2023(A),Wednesday(7),Mrs. Syamala,"[M, TU, W]","[5, 5, 5]"
24,Data Science,G-013,Section-A,02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. B.seetharamulu,"[W, TH, F]","[4, 3, 1]"
25,Data Science,G-014,Section-B,02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. K. Adinarayana Reddy,"[M, TH, F]","[5, 3, 1]"
26,Data Science,G-016,Section-C,02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Bseetharamulu,"[M, TH, F]","[2, 1, 4]"
27,Data Science,R-202,Section-D,02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Sugnana Rao,"[M, TH, F]","[3, 1, 4]"
28,Power Skill - II,R-205,Section-A,NaN,NaN,NaN,NaN,Dr. G. S. Bramha,[TU],"[6, 7]"
29,Power Skill - II,R-205,Section-B,NaN,NaN,NaN,NaN,Dr. G. S. Bramha,[TU],"[6, 7]"
30,Power Skill - II,R-202,Section-C,NaN,NaN,NaN,NaN,Dr. G. S. Bramha,[M],"[6, 7]"
31,Power Skill - II,R-202,Section-D,NaN,NaN,NaN,NaN,Dr. G. S. Bramha,[M],"[6, 7]"
32,Electronic Devices,R-221,1,27-02-2023(A),10-04-2023(A),26-05-2023(A),Thursday(7),Dr. Sainath,"[M, TU, W]","[3, 4, 1]"
33,Electromagnetic Fields & Waves,R-221,1,02-03-2023(A),13-04-2023(A),09-06-2023(A),Friday(6),Dr. Elizabeth Zacharias,"[TU, TH, F]","[1, 3, 4]"
34,Hardware modelling using Verilog,R-221,1,01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(7),Dr. P AKHENDRA KUMAR,"[W, TH, F]","[6, 1, 2]"
35,[LAB] Hardware modelling using Verilog,R-116,1,NaN,NaN,NaN,NaN,Dr. P AKHENDRA KUMAR,[TU],"[6, 7]"
36,Thermal Engineering,R-205,1,01-03-2023(F),12-04-2023(F),02-06-2023(A),Thursday(7),Dr. Pavan Kishore,"[TU, TH, F]","[2, 1, 3]"
37,Soft Computing Techniques,R-205,1,28-02-2023(A),11-04-2023(A),31-05-2023(A),Friday(7),Dr. K. Kaushik,"[M, TU, F]","[5, 1, 4]"
38,Manufacturing Processes and Metrology,R-205,1,01-03-2023(A),12-04-2023(A),05-06-2023(A),Friday(6),Syed Quadir Moinuddin,"[M, TU, TH]","[3, 4, 4]"
39,[LAB] Manufacturing Processes and Metrology,opp FST,1,NaN,NaN,NaN,NaN,Syed Quadir Moinuddin,[M],"[6, 7]"
40,Strength of Materials,R-205,1,27-02-2023(A),10-04-2023(A),26-05-2023(A),Friday(5),Priyanka Chattoraj,"[W, TH, F]","[4, 3, 1]"
41,[LAB] Strength of Materials,opp FST,1,NaN,NaN,NaN,NaN,Priyanka Chattoraj,[W],"[5, 6]"
42,Kinematics &Dynamics of Machinery,R-205,1,02-03-2023(A),13-04-2023(A),09-06-2023(A),Thursday(6),Dr. B. Madhavi,"[M, TH, F]","[4, 2, 2]"
43,Personality Devlopment(PD),G-013,Section-A,NaN,NaN,NaN,NaN,Dr. R. Balamurali,[TH],[4]
44,Personality Devlopment(PD),G-014,Section-B,NaN,NaN,NaN,NaN,Dr. R. Balamurali,[M],[6]
45,Personality Devlopment(PD),G-016,Section-C,NaN,NaN,NaN,NaN,Dr. R. Balamurali,[TU],[5]
46,Personality Devlopment(PD),R-202,Section-D,NaN,NaN,NaN,NaN,Dr. R. Balamurali,[W],[6]

In [ ]:
df['Day1'] = df.apply( lambda x: x['Day1']*len(x['Session1']) if ( len(x['Day1']) != len(x['Session1']) ) else x['Day1'], axis=1)

In [ ]:
df[['Day1', 'Session1']]

           Day1   Session1
0    [M, TU, F]  [1, 5, 3]
1    [M, TU, W]  [1, 5, 2]
2   [M, TU, TH]  [5, 2, 3]
3    [TU, W, F]  [2, 3, 3]
4   [M, TU, TH]  [4, 2, 2]
5   [M, TU, TH]  [4, 1, 2]
6     [M, W, F]  [1, 2, 3]
7    [TU, W, F]  [3, 2, 1]
8     [M, W, F]  [2, 3, 4]
9    [M, TU, F]  [6, 2, 4]
10  [TU, TH, F]  [3, 2, 1]
11   [M, W, TH]  [1, 4, 4]
12   [TU, W, F]  [4, 1, 2]
13   [TU, W, F]  [4, 3, 2]
14   [M, TU, W]  [3, 1, 3]
15  [M, TU, TH]  [4, 1, 2]
16  [M, TU, TH]  [5, 3, 1]
17   [M, W, TH]  [3, 4, 1]
18   [W, TH, F]  [1, 4, 2]
19   [TU, W, F]  [4, 1, 2]
20   [M, TU, W]  [3, 1, 2]
21   [M, TU, W]  [2, 3, 1]
22   [M, TU, W]  [4, 4, 4]
23   [M, TU, W]  [5, 5, 5]
24   [W, TH, F]  [4, 3, 1]
25   [M, TH, F]  [5, 3, 1]
26   [M, TH, F]  [2, 1, 4]
27   [M, TH, F]  [3, 1, 4]
28     [TU, TU]     [6, 7]
29     [TU, TU]     [6, 7]
30       [M, M]     [6, 7]
31       [M, M]     [6, 7]
32   [M, TU, W]  [3, 4, 1]
33  [TU, TH, F]  [1, 3, 4]
34   [W, TH, F]  [6, 1, 2]
35     [TU, TU]     [6, 7]
36  [TU, TH, F]  [2, 1, 3]
37   [M, TU, F]  [5, 1, 4]
38  [M, TU, TH]  [3, 4, 4]
39       [M, M]     [6, 7]
40   [W, TH, F]  [4, 3, 1]
41       [W, W]     [5, 6]
42   [M, TH, F]  [4, 2, 2]
43         [TH]        [4]
44          [M]        [6]
45         [TU]        [5]
46          [W]        [6]

In [ ]:
df.columns

Index(['Title', 'Room', 'Sections', 'Test1', 'Test2', 'Compre', 'Common Hour',
       'Instructor Name', 'Day1', 'Session1'],
      dtype='object')

In [ ]:
df = df.explode(['Day1', 'Session1'])
df = df.rename(columns={'Day1':'Day', 'Session1':'Session'})
df = df[['Title','Sections', 'Day','Session', 'Common Hour','Room', 'Test1', 'Test2', 'Compre','Instructor Name']]
df.reset_index(drop=True, inplace=True)

In [ ]:
df['Title'] = df['Title'].str.replace("Fundamentals of Signal Processing", 'Signal Processing')
df['Title'] = df['Title'].str.replace("Computer organization and Architecture", 'Computer Org')
df['Title'] = df['Title'].str.replace("Web Enabled Technologies", 'Web Tech')
df['Title'] = df['Title'].str.replace("Dynamics Of Social Change", 'Social Change')
df['Title'] = df['Title'].str.replace("Database Management Systems", 'Database Management')

df['Day'] = df['Day'].str.replace("M", 'Monday')
df['Day'] = df['Day'].str.replace("TU", 'Tuesday')
df['Day'] = df['Day'].str.replace("W", 'Wednesday')
df['Day'] = df['Day'].str.replace("TH", 'Thursday')
df['Day'] = df['Day'].str.replace("F", 'Friday')

In [ ]:
df.head()

,Title,Sections,Day,Session,Common Hour,Room,Test1,Test2,Compre,Instructor Name
0,Signal Processing,Section-A,Monday,1,Thursday(5),G-013,27-02-2023(F),10-04-2023(F),24-05-2023(A),Dr. H. Sudheer
1,Signal Processing,Section-A,Tuesday,5,Thursday(5),G-013,27-02-2023(F),10-04-2023(F),24-05-2023(A),Dr. H. Sudheer
2,Signal Processing,Section-A,Friday,3,Thursday(5),G-013,27-02-2023(F),10-04-2023(F),24-05-2023(A),Dr. H. Sudheer
3,Signal Processing,Section-B,Monday,1,Thursday(5),G-014,27-02-2023(F),10-04-2023(F),24-05-2023(A),Dr. Soloman
4,Signal Processing,Section-B,Tuesday,5,Thursday(5),G-014,27-02-2023(F),10-04-2023(F),24-05-2023(A),Dr. Soloman

In [ ]:
df['Common Hour'] = df[df['Common Hour'].notnull()]['Common Hour'].str.extract(r'(\w+)\((\d+)\)').apply(lambda x: [x[0], int(x[1])], axis=1)

In [ ]:
df[['Title','Common Hour']].iloc[83:]

                                           Title    Common Hour
83                                  Data Science    [Friday, 6]
84                              Power Skill - II            NaN
85                              Power Skill - II            NaN
86                              Power Skill - II            NaN
87                              Power Skill - II            NaN
88                              Power Skill - II            NaN
89                              Power Skill - II            NaN
90                              Power Skill - II            NaN
91                              Power Skill - II            NaN
92                            Electronic Devices  [Thursday, 7]
93                            Electronic Devices  [Thursday, 7]
94                            Electronic Devices  [Thursday, 7]
95                Electromagnetic Fields & Waves    [Friday, 6]
96                Electromagnetic Fields & Waves    [Friday, 6]
97                Electromagnetic Fields & Waves    [Friday, 6]
98              Hardware modelling using Verilog    [Friday, 7]
99              Hardware modelling using Verilog    [Friday, 7]
100             Hardware modelling using Verilog    [Friday, 7]
101       [LAB] Hardware modelling using Verilog            NaN
102       [LAB] Hardware modelling using Verilog            NaN
103                          Thermal Engineering  [Thursday, 7]
104                          Thermal Engineering  [Thursday, 7]
105                          Thermal Engineering  [Thursday, 7]
106                    Soft Computing Techniques    [Friday, 7]
107                    Soft Computing Techniques    [Friday, 7]
108                    Soft Computing Techniques    [Friday, 7]
109        Manufacturing Processes and Metrology    [Friday, 6]
110        Manufacturing Processes and Metrology    [Friday, 6]
111        Manufacturing Processes and Metrology    [Friday, 6]
112  [LAB] Manufacturing Processes and Metrology            NaN
113  [LAB] Manufacturing Processes and Metrology            NaN
114                        Strength of Materials    [Friday, 5]
115                        Strength of Materials    [Friday, 5]
116                        Strength of Materials    [Friday, 5]
117                  [LAB] Strength of Materials            NaN
118                  [LAB] Strength of Materials            NaN
119            Kinematics &Dynamics of Machinery  [Thursday, 6]
120            Kinematics &Dynamics of Machinery  [Thursday, 6]
121            Kinematics &Dynamics of Machinery  [Thursday, 6]
122                   Personality Devlopment(PD)            NaN
123                   Personality Devlopment(PD)            NaN
124                   Personality Devlopment(PD)            NaN
125                   Personality Devlopment(PD)            NaN

In [ ]:
df[['Sections','Title', 'Day', 'Session', 'Common Hour']].iloc[90:]

,Sections,Title,Day,Session,Common Hour
90,Section-D,Power Skill - II,Monday,6,NaN
91,Section-D,Power Skill - II,Monday,7,NaN
92,1,Electronic Devices,Monday,3,"[Thursday, 7]"
93,1,Electronic Devices,Tuesday,4,"[Thursday, 7]"
94,1,Electronic Devices,Wednesday,1,"[Thursday, 7]"
95,1,Electromagnetic Fields & Waves,Tuesday,1,"[Friday, 6]"
96,1,Electromagnetic Fields & Waves,Thursday,3,"[Friday, 6]"
97,1,Electromagnetic Fields & Waves,Friday,4,"[Friday, 6]"
98,1,Hardware modelling using Verilog,Wednesday,6,"[Friday, 7]"
99,1,Hardware modelling using Verilog,Thursday,1,"[Friday, 7]"
100,1,Hardware modelling using Verilog,Friday,2,"[Friday, 7]"
101,1,[LAB] Hardware modelling using Verilog,Tuesday,6,NaN
102,1,[LAB] Hardware modelling using Verilog,Tuesday,7,NaN
103,1,Thermal Engineering,Tuesday,2,"[Thursday, 7]"
104,1,Thermal Engineering,Thursday,1,"[Thursday, 7]"
105,1,Thermal Engineering,Friday,3,"[Thursday, 7]"
106,1,Soft Computing Techniques,Monday,5,"[Friday, 7]"
107,1,Soft Computing Techniques,Tuesday,1,"[Friday, 7]"
108,1,Soft Computing Techniques,Friday,4,"[Friday, 7]"
109,1,Manufacturing Processes and Metrology,Monday,3,"[Friday, 6]"
110,1,Manufacturing Processes and Metrology,Tuesday,4,"[Friday, 6]"
111,1,Manufacturing Processes and Metrology,Thursday,4,"[Friday, 6]"
112,1,[LAB] Manufacturing Processes and Metrology,Monday,6,NaN
113,1,[LAB] Manufacturing Processes and Metrology,Monday,7,NaN
114,1,Strength of Materials,Wednesday,4,"[Friday, 5]"
115,1,Strength of Materials,Thursday,3,"[Friday, 5]"
116,1,Strength of Materials,Friday,1,"[Friday, 5]"
117,1,[LAB] Strength of Materials,Wednesday,5,NaN
118,1,[LAB] Strength of Materials,Wednesday,6,NaN
119,1,Kinematics &Dynamics of Machinery,Monday,4,"[Thursday, 6]"
120,1,Kinematics &Dynamics of Machinery,Thursday,2,"[Thursday, 6]"
121,1,Kinematics &Dynamics of Machinery,Friday,2,"[Thursday, 6]"
122,Section-A,Personality Devlopment(PD),Thursday,4,NaN
123,Section-B,Personality Devlopment(PD),Monday,6,NaN
124,Section-C,Personality Devlopment(PD),Tuesday,5,NaN
125,Section-D,Personality Devlopment(PD),Wednesday,6,NaN

#Timetable

In [ ]:
section = input("Do u belong to one section only\n-> If so type your section---> A,B,C,D,1\nelse type '!N'  \t: ").upper()
if section == '!N':
    subjects = {v+1: k for v, k in enumerate(set(df['Title']))}
    for num, sub in subjects.items():
        print(f"{num}. \t: {sub}")
    print("remember to press q to exit\n")
    user={}
    lst=['A', 'B', 'C', 'D', '1']
    while True:

        inp = input(f"\n->Choose your subject by entering the serial number: ")
        if inp == 'q':
            break
        subject = subjects[int(inp)]
        if subject in user.values():
            print(f"{subject} is already registered, do u want to override [Y/n]")
            if  input(": ").lower() == 'n':
                print('ignoring')
                continue
        print('Choose from ', lst)
        section = input(f"Now, section for {subject}: ").upper()
        if section not in lst:
            print('section not found, rewinding time')
            print("...")
            continue
        if section != '1':
            section= 'Section-'+section
        
        user[subject] = section

    section_values = list(user.values())
    subject_values = list(user.keys())
    print(section_values)
    print(subject_values)
    sec = df[ df['Title'].isin(subject_values) & df['Sections'].isin(section_values) ]
else:
    sec = df[df['Sections'] == 'Section-'+section]

Do u belong to one section only
-> If so type your section---> A,B,C,D,1
else type '!N'  	: !n
1. 	: Web Tech
2. 	: Electromagnetic Fields & Waves
3. 	: [LAB] Strength of Materials
4. 	: Hardware modelling using Verilog
5. 	: Personality Devlopment(PD)
6. 	: Manufacturing Processes and Metrology
7. 	: Professional Communication
8. 	: Power Skill - II
9. 	: Thermal Engineering
10. 	: [LAB] Hardware modelling using Verilog
11. 	: Soft Computing Techniques
12. 	: [LAB] Manufacturing Processes and Metrology
13. 	: Electronic Devices
14. 	: Kinematics &Dynamics of Machinery
15. 	: Signal Processing
16. 	: Database Management
17. 	: Social Change
18. 	: Computer Org
19. 	: Data Science
20. 	: Strength of Materials
remember to press q to exit


->Choose your subject by entering the serial number: 2
Choose from  ['A', 'B', 'C', 'D', '1']
Now, section for Electromagnetic Fields & Waves: 1

->Choose your subject by entering the serial number: 4
Choose from  ['A', 'B', 'C', 'D', '1']
Now, section for Hardware modelling using Verilog: 1

->Choose your subject by entering the serial number: 10
Choose from  ['A', 'B', 'C', 'D', '1']
Now, section for [LAB] Hardware modelling using Verilog: 1

->Choose your subject by entering the serial number: 15
Choose from  ['A', 'B', 'C', 'D', '1']
Now, section for Signal Processing: d

->Choose your subject by entering the serial number: 8
Choose from  ['A', 'B', 'C', 'D', '1']
Now, section for Power Skill - II: d

->Choose your subject by entering the serial number: q
['1', '1', '1', 'Section-D', 'Section-D']
['Electromagnetic Fields & Waves', 'Hardware modelling using Verilog', '[LAB] Hardware modelling using Verilog', 'Signal Processing', 'Power Skill - II']

In [ ]:
sec.head()

,Title,Sections,Day,Session,Common Hour,Room,Test1,Test2,Compre,Instructor Name
9,Signal Processing,Section-D,Tuesday,2,"[Thursday, 5]",R-202,27-02-2023(F),10-04-2023(F),24-05-2023(A),Dr. Soloman
10,Signal Processing,Section-D,Wednesday,3,"[Thursday, 5]",R-202,27-02-2023(F),10-04-2023(F),24-05-2023(A),Dr. Soloman
11,Signal Processing,Section-D,Friday,3,"[Thursday, 5]",R-202,27-02-2023(F),10-04-2023(F),24-05-2023(A),Dr. Soloman
90,Power Skill - II,Section-D,Monday,6,NaN,R-202,NaN,NaN,NaN,Dr. G. S. Bramha
91,Power Skill - II,Section-D,Monday,7,NaN,R-202,NaN,NaN,NaN,Dr. G. S. Bramha

In [ ]:
print("Classes per week:",len(sec))
def per_day(day):
    week_day = sec[sec['Day'] == day]
    return week_day.set_index('Session')['Title'].to_dict()
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
timetable={day : per_day(day) for day in week}

sec = sec[sec['Common Hour'].notnull()]
ch = sec[['Title', 'Common Hour']].set_index('Title').to_dict().get('Common Hour')

def add_commn_hr(timetable, subject, day, period):
    if day not in timetable:
        timetable[day]={}
    timetable[day][period] = subject
    return timetable

for subject, (day, period) in ch.items():
    timetable = add_commn_hr(timetable, subject+" `C~Hr", day, period)

tb = pd.DataFrame(timetable)
tb = tb.sort_index(axis=0)
if input('Do you require the periods to be horizontal [Y/n]: ').lower() == 'y':
    tb=tb.T
tb

Classes per week: 13
Do you require the periods to be horizontal [Y/n]: n

,Monday,Tuesday,Wednesday,Thursday,Friday
1,NaN,Electromagnetic Fields & Waves,NaN,Hardware modelling using Verilog,NaN
2,NaN,Signal Processing,NaN,NaN,Hardware modelling using Verilog
3,NaN,NaN,Signal Processing,Electromagnetic Fields & Waves,Signal Processing
4,NaN,NaN,NaN,NaN,Electromagnetic Fields & Waves
5,NaN,NaN,NaN,Signal Processing `C~Hr,NaN
6,Power Skill - II,[LAB] Hardware modelling using Verilog,Hardware modelling using Verilog,NaN,Electromagnetic Fields & Waves `C~Hr
7,Power Skill - II,[LAB] Hardware modelling using Verilog,NaN,NaN,Hardware modelling using Verilog `C~Hr

In [ ]:
if section != '!N':
    tb.to_csv('Section-'+section+'.csv')
else:
    inp = input("Filename to save?: ")
    tb.to_csv(inp+'.csv')